

    .hero-title{
        font-size :5rem;
    }

    .wg-blank
    {
      padding: 20px 0px;
    }

    .tag{
      font-size: 25px;
      margin-bottom: 0!important;
      margin-left: 0!important;
      margin-right: 0!important;

    }
    .video
    {    -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      --blue: #007bff;
      --indigo: #6610f2;
      --purple: #6f42c1;
      --pink: #e83e8c;
      --red: #dc3545;
      --orange: #fd7e14;
      --yellow: #ffc107;
      --green: #28a745;
      --teal: #20c997;
      --cyan: #17a2b8;
      --white: #fff;
      --gray: #6c757d;
      --gray-dark: #343a40;
      --primary: #ff3860;
      --secondary: #6c757d;
      --success: #28a745;
      --info: #17a2b8;
      --warning: #ffc107;
      --danger: #dc3545;
      --light: #f8f9fa;
      --dark: #343a40;
      --breakpoint-xs: 0;
      --breakpoint-sm: 576px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 992px;
      --breakpoint-xl: 1200px;
      --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-weight: 400;
      text-align: left;
      font-family: inherit;
      font-size: 1rem;
      line-height: inherit;
      color: #f8f8f2;
      box-sizing: border-box;
      max-width: 100%;
      display: block;
      position: absolute;
      top: 0;
      max-height: initial;
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      opacity: 1;}


